version: 2
updates:
  - package-ecosystem: "pip"
    directories:
      - "/"
      - "/.devcontainer"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 20
    labels: ["dependencies", "backend"]

  - package-ecosystem: "docker"
    directories:
      - "/"
      - "/.devcontainer"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    rebase-strategy: auto
    open-pull-requests-limit: 20
    labels: ["dependencies", "frontend"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"