# Exclude test-related files and directories
.devcontainer/
*.pyc
__pycache__/
.git/
.github/
.pytest_cache/
.DS_Store


# Exclude other unnecessary files, but allow requirements.txt
README.md
LICENSE
*.log