# Copy this file's content to `.env` file to begin.
# These ENV variables is for the docker-compose.yml file,
# feel free to address them base on your needs.
IMGCOMPRESS_IMAGE=karimz1/imgcompress
IMGCOMPRESS_TAG=latest
IMGCOMPRESS_HOST=127.0.0.1
IMGCOMPRESS_PORT=3001
IMGCOMPRESS_DISABLE_LOGO=false
IMGCOMPRESS_DISABLE_STORAGE_MANAGEMENT=false

# Traefik Reverse Proxy settings (for proxied.docker-compose.yaml)
# ACME_EMAIL=you@example.com
# TRAEFIK_DOMAIN_NAME=imgcompress.example.com

# Generate auth hash with: htpasswd -nB admin
# NOTE: In `.env`, write single `$` signs (e.g. user:$2y$05$...).
# Inside docker-compose YAML files, `$` must be escaped as `$$` 
# (e.g. user:$$2y$$05$$...).
# TRAEFIK_AUTH_USERS=user:$2y$05$8zbpsdxg9wDiiKdqxiB0zeAlxZtG68P1SDBOvCN4IooLFewLx70Gm

