# Copy this file's content to `.env` file to begin.
# These ENV variables is for the docker-compose.yml file,
# feel free to address them base on your needs.
IMGCOMPRESS_REGISTRY=karimz1/imgcompress
IMGCOMPRESS_TAG=latest
IMGCOMPRESS_HOST=127.0.0.1
IMGCOMPRESS_PORT=3001
IMGCOMPRESS_DISABLE_LOGO=false
IMGCOMPRESS_DISABLE_STORAGE_MANAGEMENT=false
