# a concept of how to use imgcompress without internet access in an enterprise environment
# this cuts full internet access in the container imgcompress-app for extra privacy and security.
# Karim Zouine - 2025 - https://github.com/karimz1/imgcompress
services:
  imgcompress:
    image: karimz1/imgcompress:latest
    container_name: imgcompress-app
    restart: always
    # No ports mapped here = No way for it to talk out or in via the host directly
    environment:
      - DISABLE_LOGO=true
      - DISABLE_STORAGE_MANAGEMENT=false
    networks:
      - isolated_network

  proxy:
    image: nginx:alpine
    container_name: imgcompress-no-internet
    ports:
      - "3001:80" # Local access via port 3001
    volumes:
      - ./nginx-no-internet.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - imgcompress
    networks:
      - isolated_network # To talk to the app
      - host_access_network # To talk to the host

networks:
  isolated_network:
    internal: true # This blocks ALL external internet access for the app
  host_access_network:
    internal: false # Standard network for host communication
