# Project information
site_name: ImgCompress
site_url: https://imgcompress.karimzouine.com/
site_description: "The Open Source Self-hosted Image Toolkit for Docker. Convert over 70+ formats, shrink file sizes, and remove backgrounds using local AI. Trusted by over 22k users."
site_author: Karim Zouine

# Repository
repo_name: karimz1/imgcompress
repo_url: https://github.com/karimz1/imgcompress
edit_uri: edit/main/docs/

# Exclusion
exclude_docs:
  - node_modules/
  - node_modules/*
  - package.json
  - package-lock.json
  - runDocsLocal.sh
  - requirements.txt

# Copyright
copyright: |
  &copy; 2026 Karim Zouine &middot; 
  <a class="github_lin_footer" href="https://www.karimzouine.com/" target="_blank" rel="noopener">Author</a> &middot; 
  <a class="github_lin_footer" href="https://github.com/karimz1/imgcompress" target="_blank" rel="noopener">GitHub</a> &middot; 
  <a class="github_lin_footer" href="https://hub.docker.com/r/karimz1/imgcompress" target="_blank" rel="noopener">Docker Hub</a> &middot; 
  <a class="github_lin_footer" href="/credits/">Image & Library Credits</a>

  <br>
  imgcompress: for everyone who values privacy.

# Configuration
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - announce.dismiss
    - content.action.edit
    - content.code.annotate
    - content.code.copy
    - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.highlight
    - search.suggest
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  favicon: images/favicon.ico
  logo: images/logo-mini-2.webp
  icon:
    repo: fontawesome/brands/github
    tag:
      default: lucide/hash

extra_css:
  - assets/glightbox/glightbox.min.css?v=1
  - assets/stylesheets/extra.css?v=v1

extra_javascript:
  - assets/glightbox/glightbox.min.js?v=1
  - assets/js/glightbox-init.js?v=1
  - assets/js/external-link.js?v=1
  - assets/js/dockerpulls.js?v=1
  - assets/js/hero-animation.js?v=1
  - assets/js/image-comparison.js?v=1

# Plugins
plugins:
  - search
  - tags
  - external-link
  - sitemap:
      changefreq: daily
      priority: 1.0

  - minify:
      minify_html: true
      minify_css: true
      minify_js: true
      cache_safe: true

  - git-revision-date-localized:
      type: datetime
      timezone: UTC
      enable_creation_date: false



# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: karimz1
      repo: imgcompress
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      base_path: ["."]
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  generator: false
  version: "v1.0.0"

# Page tree
nav:
  - Home: index.md
  - Getting Started:
    - Installation Guide: installation.md
    - Web UI Guide: web-ui.md
    - Privacy & Safety: privacy.md
    - CLI Guide: cli.md
  - Development:
    - Release Notes: release-notes.md
    - Contributing Guide: contributing.md
    - Developer Guide: developers.md
    - End-to-End Tests: e2e.md
    - Credits: credits.md


  - Help & Support:
      - Contact & Support: support.md
      - Donate: sponsorship.md
      - Hall of Fame: hall-of-fame.md
