/* selects links that start with http and are not same‑domain */
/* All links starting with http are considered external */
a[href^="http"]::after {
    content: " ↗";
    /* external link arrow */
    font-size: 0.85em;
    margin-left: 2px;
}

.md-logo img {
    height: 2.5rem !important;
    width: auto !important;
}

/* Let the header grow to fit */
.md-header__inner {
    height: auto !important;
}

/* GLightbox Dark Mode Overrides */
body[data-md-color-scheme="slate"] .glightbox-container {
    --glightbox-background: rgba(18, 18, 18, 0.95);
    background-color: rgba(18, 18, 18, 0.95);
}

body[data-md-color-scheme="slate"] .goverlay {
    background: rgba(0, 0, 0, 0.9);
}

body[data-md-color-scheme="slate"] .gslide-title {
    color: #fff !important;
}

body[data-md-color-scheme="slate"] .gslide-desc {
    color: #ccc !important;
}

body[data-md-color-scheme="slate"] .gnext,
body[data-md-color-scheme="slate"] .gprev,
body[data-md-color-scheme="slate"] .gclose {
    background-color: rgb(255 255 255) !important;
}

body[data-md-color-scheme="slate"] .gnext svg,
body[data-md-color-scheme="slate"] .gprev svg,
body[data-md-color-scheme="slate"] .gclose svg {
    filter: invert(1);
}

body[data-md-color-scheme="slate"] .gslide-description {
    background: #1e1e1e !important;
    color: #fff !important;
}

body[data-md-color-scheme="slate"] .ginfocontainer {
    background: #1e1e1e !important;
}

/* Improve readability of lightbox captions */
.glightbox-clean .gslide-desc {
    font-size: 1rem;
    line-height: 1.6;
}

/* Make lightbox titles easier to read */
.glightbox-clean .gdesc-inner h4.gslide-title {
    font-size: 1.15rem;
    line-height: 1.5;
}

@media (min-width: 992px) {
    body[data-md-color-scheme="slate"] .glightbox-clean .gclose {
        opacity: 1;
        right: 20px;
    }
}