name: CI and Auto Merge for imgcompress

on:
  push:
    branches:
      - main
      - feature/*
      - bugfix/*
      - enhancements/*
      - release/*
  pull_request:
  workflow_dispatch:
    inputs:
      upload_e2e_artifacts:
        description: "Upload E2E test results artifact?"
        required: false
        default: "false"
      deploy_nightly:
        description: "After E2E tests succeed, trigger the nightly deployment workflow"
        type: boolean
        required: false
        default: false
  issue_comment:
    types: [created]

jobs:
  test-backend:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform: [ "linux/amd64", "linux/arm64" ]
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image for ${{ matrix.platform }}
        run: |
          cd .devcontainer/
          docker buildx build \
            --platform ${{ matrix.platform }} \
            --load \
            -t devcontainer:local-test .

      - name: Run Backend Unit Tests on ${{ matrix.platform }}
        run: |
          docker run --rm \
            --platform=${{ matrix.platform }} \
            --entrypoint /bin/sh \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v "$(pwd):/app/" \
            -e IS_RUNNING_IN_GITHUB_ACTIONS=$IS_RUNNING_IN_GITHUB_ACTIONS \
            --name devcontainer \
            devcontainer:local-test /app/runUnitTests.sh
        env:
          IS_RUNNING_IN_GITHUB_ACTIONS: true

      - name: Run Backend Integration (Docker) Tests on ${{ matrix.platform }}
        run: |
          docker run --rm \
            --platform=${{ matrix.platform }} \
            --entrypoint /bin/sh \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v "$(pwd):/app/" \
            -e IS_RUNNING_IN_GITHUB_ACTIONS=$IS_RUNNING_IN_GITHUB_ACTIONS \
            --name devcontainer \
            devcontainer:local-test /app/runIntegrationTests.sh
        env:
          IS_RUNNING_IN_GITHUB_ACTIONS: true
  
  test-e2e:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform: [ "linux/amd64" ] # works only on amd64 for now; a fix for arm64 is in progress
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Application Container Image for ${{ matrix.platform }}
        run: |
          docker buildx build \
            --platform ${{ matrix.platform }} \
            --load \
            --no-cache \
            -t karimz1/imgcompress:local-test \
            .

      - name: Run Application Container (Host Networking) for ${{ matrix.platform }}
        run: |
          docker run --rm -d \
            --platform ${{ matrix.platform }} \
            --network host \
            --name app \
            karimz1/imgcompress:local-test web

      - name: Wait for Application to be Ready (using localhost) for ${{ matrix.platform }}
        run: |
          BASE_URL="http://localhost:5000"
          echo "Waiting for the application to be ready on ${BASE_URL}..."
          max_attempts=120
          attempt_num=1
          until curl -s --fail "$BASE_URL" > /dev/null; do
            if [ "$attempt_num" -eq "$max_attempts" ]; then
              echo "Application failed to start after $max_attempts attempts."
              exit 1
            fi
            echo "Waiting for app... attempt $attempt_num"
            attempt_num=$((attempt_num+1))
            sleep 1
          done
          echo "Application is up! Continuing..."

      - name: Build Dev Container Image for ${{ matrix.platform }}
        run: |
          cd .devcontainer/
          docker buildx build \
            --platform ${{ matrix.platform }} \
            --load \
            --no-cache \
            -t devcontainer:local-test \
            .

      - name: Make E2E script executable
        run: chmod +x ./run-e2e.sh

      - name: Run E2E Tests in Dev Container (Host Networking)
        run: |
          docker run --rm \
            --platform ${{ matrix.platform }} \
            --entrypoint /bin/sh \
            --network host \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v "$(pwd):/app/" \
            -e IS_RUNNING_IN_GITHUB_ACTIONS=true \
            -e PLAYWRIGHT_BASE_URL=http://localhost:5000 \
            --name devcontainer_e2e \
            devcontainer:local-test -c "/app/run-e2e.sh"

      - name: Get CPU Architecture
        run: echo "ARCH=$(uname -m | sed 's/[^a-zA-Z0-9]//g')" >> $GITHUB_ENV
    
      - name: Ensure E2E Test Results Directory Exists
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.upload_e2e_artifacts == 'true'
        run: mkdir -p frontend/e2e-test-results
      
      - name: Zip E2E Test Results for ${{ env.ARCH }}
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.upload_e2e_artifacts == 'true'
        run: |
          if [ -d "frontend/e2e-test-results" ] && [ "$(ls -A frontend/e2e-test-results)" ]; then
            zip -r e2e-test-results-${{ env.ARCH }}.zip frontend/e2e-test-results
          else
            echo "No test results found, creating an empty zip."
            touch e2e-test-results-${{ env.ARCH }}.zip
          fi

      - name: Upload E2E Test Results Artifact for ${{ env.ARCH }}
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.upload_e2e_artifacts == 'true'
        uses: actions/upload-artifact@v6
        with:
          name: e2e-test-results-${{ env.ARCH }}
          path: e2e-test-results-${{ env.ARCH }}.zip
          retention-days: 3

  deploy-nightly:
    needs: 
      - test-backend 
      - test-e2e
    if: >
      (github.event_name == 'workflow_dispatch' && inputs.deploy_nightly == true) ||
      (github.event_name == 'issue_comment' && 
       github.event.issue.pull_request && 
       contains(github.event.comment.body, '/deploy-nightly'))
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read
    steps:
      - name: Trigger Deployment Workflow (nightly)
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: token ${GH_TOKEN}" \
            https://api.github.com/repos/${{ github.repository }}/dispatches \
            -d '{"event_type": "deploy"}'
  
  auto-merge-dependabot:
    needs: 
      - test-backend 
      - test-e2e
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    if: >
      github.event_name == 'pull_request' &&
      (
        github.actor == 'dependabot[bot]' ||
        github.actor == 'dependabot-preview[bot]'
      )
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Auto-merge Dependabot
        uses: pascalgn/automerge-action@v0.16.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
          MERGE_LABELS: "dependencies"

      - name: Trigger Deployment Workflow
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ github.repository }}/dispatches \
            -d '{"event_type": "deploy"}'
